{%load static%}
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang Bất Động Sản UTH Land</title>
    <link rel="stylesheet" href="{%static'app_home/css/index.css'%}" />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <h1>Bất Động Sản UTHLand</h1>
      </div>
      <nav class="nav">
        <a href="#">Nhà đất bán</a>
        <a href="#">Bán Bất Động Sản</a>
        <a href="#">Dự án</a>
        <a href="./Blog.html">Blog</a>
        <a href="./tuyendung.html">Tuyển dụng</a>
      </nav>
      <div class="user-actions">
        <a href="./dangbanbatdongsan.html">Đăng Tin</a>
      </div>
    </header>

    <!-- Hiệu ứng ánh nắng -->
    <div class="sunlight"></div>

    <!-- Hiệu ứng chim bay -->
    <div class="birds">
      <img
        src="static/img/anh-dongut/bird1.png"
        alt="Chim bay"
        class="bird bird-1"
      />
      <img
        src="static/img/anh-dongut/brid2.png"
        alt="Chim bay"
        class="bird bird-2"
      />
    </div>

    <!-- Nội dung trang -->
    <footer class="footer">
      Chào mừng đến với Bất Động Sản UTHLand
      <span>Trang web cung cấp thông tin bất động sản mới nhất và uy tín.</span>
    </footer>
  </body>
</html>
