{% extends "master-page.html" %}
{% load static %}
{% block nav-bar %}
    {% include '../../includes/nav-bar.html'%}
{% endblock %}

{% block content %}
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Đăng tin </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'app_home/css/blog/blog-new.css' %}" />
    </head>
    
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>Đăng tin</h1>
                    
                    <form action="{% url 'blog-new' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <label for="title">Title <span class="require">*</span></label>
                            <input type="text" class="form-control" name="title" value="{{ form.title.value|default:'' }}" required /> 
                        </div>
                        
                        <div class="form-group">
                            <label for="information">Information</label>
                            <textarea rows="5" class="form-control" name="information">{{ form.information.value|default:'' }}</textarea>
                        </div>
                        
                        <div class="form-group">
                            <label for="profile_picture">Hình ảnh:</label>
                            <input type="file" class="form-control" name="profile_picture" accept="image/*">
                        </div>
                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                                Đăng tin 
                            </button>
                            <a href="{% url 'blog' %}" class="btn btn-default">
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
    </body>
{% endblock %}

{% block footer %}
    {% include '../../includes/footer.html'%}
{% endblock %}