{% extends "master-page.html" %}
{%load static%}
{% block nav-bar %}
    {% include '../../includes/nav-bar.html'%}
{% endblock %}


{% block content %}
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Trang đăng tin UTHLand</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href=" {%static 'app_home/css/blog/blog.css'%}" />
        
    </head>
    
    <body>
        
            <div class="container">
                <div class="col-md-12 col-lg-12">

                   
                    {% for blog in blog_posts %}
                    {% csrf_token %}
                        <article class="post vt-post">
                            <div class="row">
                                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
                                    <div class="post-type post-img">
                                            <a href="#"><img src="{{ blog.profile_picture.url }}" class="img-responsive" alt="image post"></a>
                                    </div>
                                    <div class="author-info author-info-2">
                                        <ul class="list-inline">
                                            <li>
                                                <div class="info">
                                                    <p>Posted on:{{ blog.author.username }}</p>
                                                    <p>Day post : {{ blog.dayUpBlog|date:"F d, Y" }}</p>
                                                    <strong></strong>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
                                    <div class="caption">
                                        <h3 class="md-heading"><a href="{% url 'blog-detail' blog.id %}">{{ blog.title }}</a></h3>
                                        <p>* {{ blog.information|truncatewords:30 }}</p>
                                        <p> Vui lòng liên hệ sdt: {{ blog.author.profile.phoneNumber }}</p>
                                        <p> Hoặc </p>
                                        <p> Liên hệ qua email với địa chỉ : {{ blog.author.email }}</p>
                                        <br><small> Chúng tôi luôn muốn trãi nghiệm của bạn là tốt nhất</small></br>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                    
                    
                    
                    <div class="clearfix"></div>
                </div>
            </div>
        
    </body>
    

{% endblock %}

{% block footer %}
    {% include '../../includes/footer.html'%}
{% endblock %}