{% extends "master-page.html" %}
{% load static %}
{% block nav-bar %}
    {% include '../../includes/nav-bar.html'%}
{% endblock %}




{% block content %}
<head>
    <title>Thêm mới bất động sản</title>
    <link rel="stylesheet" href="{% static 'app_home/css/batdongsan/batdongsan-new.css' %}" />
</head>
<body>
    <div class="form-container">
        {% if form.errors %}
        <div class="alert alert-danger">
            {% for field in form %}
                {% for error in field.errors %}
                    <p>{{ field.label }}: {{ error }}</p>
                {% endfor %}
            {% endfor %}
        </div>
        {% endif %}
        <form action ="{%url 'batdongsan-new'%}" method = "POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Đăng tin bán bất động sản</h2>
            <label for="name">Tên dự án cần bán </label>
            <input type="text" name = "name" required>
            
            <label for="category">Loại dự án (Nhà/Đất)</label>
            <input type="text" name = "category" required>

            <br><label for="local_TT"> Địa chỉ </label></br>
            <input type="text" name="local_TT" required >

            <label for="area">Diện tích :</label>
            <input type="text" name="area" required>
            
            <label for="year">Năm :</label>
            <input type="text" name="year" value="2025" required>
            
            <label for="date">Ngày tháng năm:</label>
            <button type="button" onclick="updateToday()">Today</button>
            <input type="date" id="date" name="startDate" required>
            
            <br><label for="information">Thông tin chi tiết về bất động sản</label></br>
            <textarea name="information" rows="4" cols="50" required></textarea>
            
            <label for="price">Giá bán mong muốn (ví dụ 100(tr/tỷ))</label>
            <input type="text"  name="price" require >
            <small> Giá bán được tính theo đơn vị VNĐ </small>
            
            
            <label for="author">Người đăng bán </label>
            <input type="text"  name="author" require >
            
            
            <label for="profile_picture">Đăng ảnh của bất động sản </label>
            <input type="file" name ="profile_picture" class="form-control" id="inputGroupFile02" >

            <input type="submit" id = "new" value="Send">


            <script>
                function updateToday() {
                    var today = new Date();
                    var day = String(today.getDate()).padStart(2, '0');
                    var month = String(today.getMonth() + 1).padStart(2, '0');
                    var year = today.getFullYear();
                    var formattedDate = year + '-' + month + '-' + day;
                    document.getElementById('date').value = formattedDate;
                }
            </script>
    
        </form>
    </div>
</body>
{% endblock %}
{% block footer %}
    {% include '../../includes/footer.html'%}
{% endblock %}
