{%load static%}

<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tuyển Dụng Marketing Bất Động Sản</title>
    <link rel="stylesheet" href="{%static 'app_home/css/tuyendung.css'%}" />
    <link rel="stylesheet" href="../static/css/tuyendung.css" />
  </head>
  <body>
    <header>
      <h1>Tuyển Dụng Marketing - Kinh Doanh Bất Động Sản Nhà Ở UTHLand</h1>
      <p>
        Gia nhập đội ngũ chúng tôi và chinh phục đỉnh cao ngành bất động sản!
      </p>
      <a href="/">⬅ Back to HOME </a>
    </header>
    <main>
      <section class="intro">
        <h2>Tại sao nên chọn chúng tôi?</h2>
        <ul>
          <li>Môi trường làm việc chuyên nghiệp và sáng tạo</li>
          <li>Cơ hội thăng tiến không giới hạn</li>
          <li>Thu nhập hấp dẫn với lộ trình phát triển rõ ràng</li>
        </ul>
      </section>
      <section class="job-details">
        <h2>Thông Tin Tuyển Dụng</h2>
        <ul>
          <li><strong>Vị trí:</strong> Nhân viên Marketing Bất Động Sản</li>
          <li><strong>Mức lương:</strong> 12 - 20 triệu/tháng + hoa hồng</li>
          <li><strong>Địa điểm làm việc:</strong> Hồ Chí Minh, Hà Nội</li>
          <li>
            <strong>Kinh nghiệm:</strong> Không yêu cầu, được đào tạo từ A-Z
          </li>
        </ul>
      </section>
      <section class="apply">
        <h2>Ứng tuyển ngay</h2>
        <p>
          Hãy gửi CV của bạn qua email:
          <a href="xyz.ut.edu.vn">tuyendung@.ut.edu.vn</a>
        </p>
        <button>Ứng Tuyển Ngay</button>
      </section>
    </main>
    <footer>
      <p>© 2024 Công Ty Bất Động Sản UTHLand. Mọi quyền được bảo lưu.</p>
    </footer>
  </body>
</html>
